.fondo-header{
    background-color: #7c542a;
}

#logo-home {
    padding-top: 10px ;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    margin-right: 50px;
    width: 150px;
    

}


#buscador-home {

    border-color: #242322;
    border-radius: 90px;
    outline-color: #2f4f4f;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;

}

#titulo-home {
    display: flex;
    justify-content: center;
    font-size: 100%;
    color: #0f0e0e;
    transition: all 3s;
  
  
   font-size: 80px;

    
}
#registrarse-home {
   
    margin-left: 300px;
    padding-left: 150px;
    padding-right: 0px;
    padding-top: 100px;
    font-size: 30px;
    color: dimgray;
}
#carrito-home {
    margin-left: 20px;
    padding-left: 10px;
    font-size: 30px;
    color: #0f0e0e;
}
 #subtitulo-home {
    display: flex;
    justify-content: center;
    
    
    font-size:  40px;
    color: #0f0e0e;
 }
 #subtitulo2-home {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #0f0e0e;
 }
.contenedor-flexible {
    background-color: #787675;
    display: flex;
  
    
    border: 10px solid grey;
    
}
.contenedor-footer {
    background-color: #787675;
    
    border: 0px solid grey;
}
 #h2-home{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #0f0e0e;
    
 }
#logos-home{
    background-color: #a46545;
    border: 5px solid #e3d4d4;
    margin-top: 0px;
    padding-right: 50px;
    padding: 30px;
    padding-left: 500px;
   
}
#contacto-home {
    width: auto;
    padding: 1px 2px;
    padding-left: 5px;
   
    
    
}
#consultanos {
   display: inline ;
  
   
    font-size: 40px;
    
}


.listado-home{
    background-color: #7c542a;
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}
.listado-home a {
    text-decoration: none;
    margin:12px;
    color: #2f4f4f;
}

.tabla-productos {

    display:  grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
}
@media screen and (max-width: 520px)  { .tabla-productos {
    grid-template-columns: 1fr 1fr;
}
}


 .tabla-productos p {
    color: #787675;
    
    margin: 10px;
    
    font-size: medium;
    letter-spacing: 1px;


 } 
 
         
   


.tabla-productos img {
    width: 100%;
    height: auto;
    
}

.cajita-producto {
    padding: 20px;
    margin: 10px;
    border: 2px solid grey;
    
}

.foto-construccion {
    width: 100%;
}

.formulario-registrate{
    width: 100%;
    height: auto;
    border: #7c542a ;
}
.cajita-registrate {
    display: grid;
    grid-column: 1fr 1fr;

    justify-content: center;
    padding: 60px;
    margin: 20px;
    border: #7c542a solid 2px;
}

.fondo-sucursales{
    background: #adb5bd;
    background: linear-gradient(to right, #ac662d,#adb5bd );
}
body{
    background: #adb5bd;
    background: linear-gradient(to right, #ac662d,#adb5bd );
  }